In [16]:
import pandas as pd
from numpy.random import randn
from pathlib import Path

cwd = Path.cwd()

In [ ]:
cwd / 'curso' / 'Pandas' / 'Dataserts' / 'supermarket_sales.csv'

In [4]:
df = pd.read_csv(cwd / 'Pandas' / 'Dataserts' / 'supermarket_sales.csv')

In [ ]:
df.head()

In [ ]:
df.groupby('City')['Total'].sum()

In [ ]:
(df.groupby('Product line')['Total'].sum() / df.groupby('Product line')['Total'].sum().sum()).sort_values() * 100

In [ ]:
df.groupby(['Product line', 'Gender'])[['Total']].sum().pivot_table(index='Product line', columns='Gender')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].apply(lambda x: x.month)
df['Year'] = df['Date'].apply(lambda x: x.year)

df.head()

In [12]:
ser1 = pd.Series([1,2,3,4], index=['EUA', 'Alemanha', 'Russia', 'Japão'])
ser2 = pd.Series([1,2,5,4], index=['EUA', 'Alemanha', 'Italia', 'Japão'])

In [13]:
ser1['EUA']

1

In [ ]:
ser1[['EUA', 'Russia']]

In [ ]:
ser1 + ser2

In [20]:
df = pd.DataFrame(randn(5,4), index=['A', 'B', 'C', 'D', 'E'], columns='W X Y Z'.split())
df

          W         X         Y         Z
A -1.240441 -1.722855 -0.942136 -0.438121
B  0.258072  1.522837  1.298869  0.112679
C  1.580080 -0.787382 -0.010546  0.153641
D -0.420248  0.286421 -0.786711  1.033356
E  0.158678  0.584765  0.263445 -0.844559

In [21]:
df['W']

A   -1.240441
B    0.258072
C    1.580080
D   -0.420248
E    0.158678
Name: W, dtype: float64

In [22]:
df['new'] = df['W'] + df['Y']

In [24]:
df.drop('new', axis=1, inplace=True)

In [27]:
df.loc[['A', 'B']]

          W         X         Y         Z
A -1.240441 -1.722855 -0.942136 -0.438121
B  0.258072  1.522837  1.298869  0.112679

In [26]:
df.iloc[0, 2]

-0.9421359486099753